* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spacer {
    flex-grow: 3;
}

.navigation {
    height: 100px;
    align-items: center;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.navigationlinks {
    margin: 0 1.5rem;
}

.navigationlinks > a {
    text-decoration: none;
    margin-right: 1rem;
}

.searchContainer {
    position: relative;
    height: 40px;
    width: 350px;
    margin-right: 2rem;
}

.searchfield {
    height: 40px;
    border: none;
    width: 350px;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

#search {
    z-index: 500;
    height: auto;
    background-color: #fff;
    position: absolute;
    bottom: -0.5rem;
    transform: translateY(100%);
    left: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #a5acb2;
}

#search > a {
    margin-bottom: 0.5rem;
    display: block;
    width: 350px;
    padding: 5px 10px;
}

.viewcart {
    padding: 0.25rem 1rem;
    height: 40px;
    font-size: 1rem;
}

.productdescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
}

.productimg {
    width: 32%;
    padding: 1rem;
}

.productimg > select {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.productinfo {
    width: 65%;
}

.productname {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.addtocart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.addtocart .price {
    font-size: 1.5rem;
}

.addtocart .atc {
    padding: 0.25rem 1rem;
    font-size: 1rem;
}

.addtocartproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.addtocartproduct > .price {
    font-size: 1.2rem;
}

.addtocartproduct > .atc {
    padding: 0.25rem 1rem;
    font-size: 1rem;
}

.tagline {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.feature {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

.recomendedproducts {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recomendedheader {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.productcard {
    width: 22%;
}

.productcardimg {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 0.5rem;
}

.productcardname {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.image {
    padding: 1rem;
}

/* CAROUSEL STYLES */
.slideshow-container {
    width: 100%;
    height: auto;
    min-height: 300px;
    aspect-ratio: 1;
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slideshow-container > .mySlides {
    width: 100%;
    aspect-ratio: 1;
}

.mySlides > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgpreview {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 15px;
    background-color: #fff;
    padding: 2px;
    border: 2px solid black;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.imgpreview > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}



@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

/*CART CSS*/
.cart {
    display: none;
    width: 35%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f1f1f1;
    padding: 2rem;
}

.cartheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.cartheadertext {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.closecart {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}

.cartproduct {
    padding: 0.5rem;
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    background-color: #fff;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.productcartinfo {
    margin-right: 1rem;
}

.productimagecart {
    height: 100%;
    aspect-ratio: 1;
    margin-right: 1rem;
    display: inline-block;
}

.removecartproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.removecartproduct .price {
    font-size: 1.2rem;
}

.removecartproduct .rfc {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}
